* {
    padding: 0;
    margin: 0; 
}

body {
    background-color: #f3f5f7;
    height: 3000px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    width: 1200px;
    margin: auto;
}

.header {
    height: 42px;
    margin: 30px auto;
}

.logo {
    float: left;
    margin-right: 60px;
    width: 197px;
    height: 42px;
}

.nav {
    float: left;
}

.nav ul li { 
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font: 18px;
    color: #050505;
    
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 50px;
}

.search input {
    float: left;
    width: 360px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #b5b5b5;
    text-indent: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: 0;
    background: url(images/seach.png);
}

.user {
    float: right;
    margin-right: 30px;
    height: 42px;
}

.banner {
    height: 420px;
    background-color: #1c036c;
}

.subBanner {
    height: 420px;
    background: url(images/banner1.png);
}

.list {
    float: left;
    overflow: hidden;
    width: 190px;
    height: 420px;
    background-color: rgb(0, 0, 0, 0.3);
}

.list ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.list ul li a {
    font-size: 14px;
    color: #ffffff;
}

.list ul li a:hover {
    color: #00a4ff;
}

.list ul li a span {
    float: right;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    margin-top: 50px;
}

.course h2 {
    height: 48px;
    background-color: #9bceea;
    font-size: 18px;
    color: #fff;
    line-height: 48px;
    text-align: center;
}

.course-list {
    padding: 0 20px;
}

.course-list ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.course-list ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.course-list ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.btn {
    display: block;
    height: 38px;
    margin-top: 5px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    font-weight: 700;
}

.recommend-bar {
    height: 60px;
    margin-top: 8px;
    background-color: #fff;
    line-height: 60px;
}

.recommend-bar h3 {
    float: left;
    margin-left: 35px;
    font-size: 16px;
    color: #00a4ff;
}

.recommend-bar ul {
    float: left;
    margin-left: 35px;
    height: 16px;
}

.recommend-bar ul li {
    float: left;
}

.recommend-bar ul li a {
    font-size: 16px;
    padding: 0 35px;
    color: #262626;
    border-left: 1px solid #bfbfbf;
}

.alter {
    display: block;
    float: right;
    margin-right: 25px;
    font-size: 14px;
    color: #00a4ff;
}

.recommend {
    margin-top: 35px;
}

.recommend-hd {
    height: 40px;
}

.recommend-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.recommend-hd a {
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.recommend-content ul {
    width: 1215px;
}

.recommend-content ul li {
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #fff;
}

.recommend-content ul li img {
    width: 100%;
}

.recommend-content ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400px;
    color: #050505;
}

.recommend-content ul li p {
    margin-left: 25px;
    font-size: 12px;
    color: #999999;
}

.recommend-content ul li p span {
    color: #ff7c2d;
}








